<!DOCTYPE html>
<html>
<head>
    <title>TUM Blockchain Club</title>
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/105918816?s=280&v=4">
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        img {
            margin-top: 20px;
            max-width: 80%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Hello World from {{ ansible_hostname }} :) </h1>
    <p>Server IP: {{ ansible_default_ipv4.address }}</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLXKQnzptpjmnLMFUzJNHATIt_TV_1i70Dh4lLf3UrUeMzWhlRPLS0JN5tEINfdAWvUuQ" alt="Centered Image">
</body>
</html>
